$elephant : #ccc;
$mouse : #e5e5e5;
// Variables
$biscuit : #a67a64;
$cookie : #bf8e62;
$poo : #73563b;
$dark_pastel_green: #00CE43;
$border_dark_pastel_green: #00B533;
$ligthning_yellow: #FFBE1A;
$golden_rod: #E0A318;
$sunset_orange: #FF5C51;
$carmine_pink: #E7483D;



// size of documents
$sizebtn: 50px;
$size-dot: 5px;
$size-header : 50px;
$size-plus : 25px;
$icon-size: 100px;