$elephant : #ccc;
$mouse : #e5e5e5;
// Variables
$biscuit : #a67a64;
$cookie : #bf8e62;
$poo : #73563b;


// size of documents
$sizebtn: 50px;
$size-dot: 5px;
$size-header : 50px;
$size-plus : 25px;
$icon-size: 148px;