@import "compass/css3/appearance";

// bower:scss
// endbower

// Variables
$biscuit : #a67a64;
$cookie : #bf8e62;
$poo : #73563b;
$sizebtn: 50px;

.descriptif{
  margin-left: 10px;
  border-left: 2px solid #CCC;
  padding-left: 20px;
}
.content{
  margin-bottom: $sizebtn+20 ;
}
.center{
  text-align: center;
}
.btn{

  @include appearance(none);
  position:fixed;
  top:100%;
  left:0;
  right:0;
  height: $sizebtn;
  margin-top: -$sizebtn;
  width: 100%;
  border:none;
  color:#fff;

  &.subscribe-btn {
    background: $biscuit;
  }
}


body {
  padding: 0;
}

form > input {
  display: block;
  border-top:none;
  border-left:none;
  border-right:none;
  margin: 20px 0px;
  width: 100%;
  font-size: 16px
}

select{
  width: 50%;
  font-size: 16px
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Mobile */
@media screen and (max-width: 600px){

select{
  width: 100%;
  font-size: 16px
}

}

