<button class="close" ng-click="toggleNavigation()">CLOSE</button>
<div class="navigation" ng-class="{'active': open}">
	<ul class="nav navbar-nav">
		<li class="active"><p><img src="../images/owl.png"><a href="#/">Accueil</a></p></li>
		<li><p><img src="../images/plume.png"><a ng-href="#/subscribe">Inscription</a></p></li>
		<li><p><img src="../images/letter.png"><a ng-href="#/witness">Témoin</a></p></li>
		<li><p><img src="../images/plume.png"><a ng-href="#/history">Historique</a></p></li>
		<li><p><img src="../images/yeoman.png"><a ng-href="#/about">Qui sommes nous</a></p></li>
		<li><p><img src="../images/letter.png"><a ng-href="#/contact">Contact</a></p></li>
	</ul>
<div class="center">
	<a ng-href="#/"><img src="../images/owl.png"></a>
	<br>Suivez-nous sur : <a ng-href="https://www.facebook.com/whodiditApp">Facebook</a> |
	<a ng-href="https://twitter.com/whodiditapp">Twitter</a>

</div>	
</div>

