<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}">
<h1>WHO DIT IT</h1>
<blokequote class="descriptif">Un nouveau moyen de communication</blokequote>
<p>Notre application est la 1ère du marché vous permettant de rentrer en contact avec le monde entier via une plaque d'immatriculation.</p>
<p>A qui s'adresse notre application ?</p>
<p>C'est simple, <b>à tout le monde..</b></p>
<p>Nous allons vous donner plusieurs exemples, si vous avez deux réponses positives, alors inscrivez-vous. </p>
<p>
	<ul>
		<li>J'ai un ou plusieurs véhicules (voiture, moto, camion, taxi, bus, etc.)</li>
		<li>J'ai déjà retrouvé mon véhicule dans un sale état (rayure, choc ou autre)</li>
		<li>J'ai déjà oublié une fenêtre, un phare, mon pc dans la voiture</li>
		<li>J'oublie constamment les clefs de la moto sur le contact</li>
		<li>J'ai déjà été témoin d'un accident et je n'ai pas trouvé les coordonnées de la personne</li>
	</ul>
</p>
<p>
Voilà, vous savez maintenant pourquoi ce service existe. <br>Nous avons créer la mise en relation par plaque d'immatriculation, génial, non ?
</p>
<p>A très vite sur Play Store ou App Store</p>
<p>L'équipe WHODIDIT</p>
</div>