<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}">
	<h1 class="center title">CONTACT</h1>
	<p class="center desc">Une question ? Nous sommes là pour y répondre.</p>
	<div class="wrapper-center">
		<span class="subscribe-logo"></span>
	</div>
	<div class="wrapper-border" ng-submit="submit()">
		<form class="subscribe-form">
			<input type="email" name="email" placeholder="Email" ng-model="contact.email" required/>
			<textarea name="message" placeholder="Votre message" ng-model="contact.message" required></textarea>	
			<button class="btn">ENVOYER MON MESSAGE</button>
		</form>
	</div>	
</div>
<div class="congratulation" ng-show="complete" ng-click="complete = !complete"><div class="table"><div class="tr"><h2>Merci<br /> Nous vous répondrons dans les plus brefs délais.</h2></div></div></div>