<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}" hm-swiperight="redirect('witness')">
	<h1 class="center title">HISTORIQUE</h1>
	<p class="center desc">Cette page vous permettra de lister tous les véhicules liés à votre adresse-email</p>
	<div class="wrapper-center">
		<span class="history-logo"></span>
	</div>
	<div class="wrapper-border">	
		<form class="subscribe-form">
			<input type="email" name="email" placeholder="Email" ng-model="email" required/>
			<ul class="dots turnon-{{currentPage}}">
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<button ng-click="submit()" class="btn history-btn">LISTER MES VEHICULES</button>
		</form>
	</div>
</div>