<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}" hm-swiperight="redirect('witness')">
	<h1 class="center title">HISTORIQUE</h1>
	<p class="center desc">Vous souhaitez recevoir par email la liste des véhicules inscrit à notre service ?
		<br>Renseignez simplement votre email.</p>
	<div class="wrapper-center">
		<span class="history-logo"></span>
	</div>
	<div class="wrapper-border">	
		<form class="subscribe-form" ng-submit="submit()">
			<input type="email" name="email" placeholder="Email" ng-model="user.email" required/>
			<ul class="dots turnon-{{currentPage}}">
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<button class="btn history-btn">LISTER MES VEHICULES</button>
		</form>
	</div>
</div>
<div class="congratulation" ng-show="complete" ng-click="complete = !complete"><div class="table"><div class="tr"><h2>Merci<br /> Un email vient de vous être envoyé !</h2></div></div></div>