<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}" hm-swipeleft="redirect('witness')">
	<h1 class="center title">INSCRIPTION</h1>
	<p class="center desc">Entrez vos informations personnelles</p>
	<div class="wrapper-center">
		<span class="subscribe-logo"></span>
	</div>
	<div class="wrapper-border">
		<form class="subscribe-form">
			<input type="text" name="lastname" placeholder="Nom" ng-model="user.lastname" required/>
			<input type="text" name="firstname" placeholder="Prénom" ng-model="user.firstname" required/>
			<input type="email" name="email" placeholder="Email" ng-model="user.email" required/>
			<input type="text" name="plaque" placeholder="Plaque d'immatriculation" ng-model="car.registration_number" required/>
			<select ng-model="country" ng-options="item as item.label for item in countrylist"></select>
			<button class="btn subscribe-btn" ng-click="submit()">ENREGISTRER</button>
			<ul class="dots turnon-{{currentPage}}">
				<li></li>
				<li></li>
				<li></li>
			</ul>	
		</form>
	</div>
</div>