<div class="content">
	<h1>INSCRIPTION</h1>
	<p>Entrez vos informations personnelles</p>
	<span class="subscribe-logo"></span>

	<form class="subscribe-form">
		<input type="text" name="lastname" placeholder="Nom" ng-model="lastname"/>
		<input type="text" name="firstname" placeholder="Prénom" ng-model="firstname"/>
		<input type="email" name="email" placeholder="Email" ng-model="email"/>
		<input type="text" name="plaque" placeholder="Plaque d'immatriculation" ng-model="plaque"/>
		<select name="pays">
			<option value="FRANCE">FRANCE</option>
		</select>
		<ul class="dots">
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<button ng-click="submit()">ENREGISTRER</button>
	</form>
</div>