<ng-include src="'views/partial/nav.html'"></ng-include>
<ng-include src="'views/partial/header.html'"></ng-include>
<div class="page-content" ng-class="{'inactive': open}">
	<h1>APPEL A TEMOIN</h1>
	<p>Entrez vos informations personnelles</p>
	<span class="subscribe-logo"></span>

	<form class="subscribe-form">
		<input type="email" name="email" placeholder="Email" ng-model="email"/>
		<input type="text" name="plaque" placeholder="Plaque d'immatriculation" ng-model="plaque"/>
		<textarea name="message"></textarea>	
		<ul class="dots">
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<button ng-click="submit()">ALERTER</button>
	</form>
</div>